@charset "utf-8";

/* CSS Document */

@import url("fonts/fonts.css");
#gallery_text_1, #gallery_text_2, #gallery_text_3, #gallery_text_4, #gallery_text_5, #gallery_text_6, #gallery_text_7, #gallery_text_8 {
	color:#FFF;
	padding:10px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	position:relative;
}
html {
	width:100%;
	height:100%;
}
body {
	background-color:;
	background-image: url(images/bg.jpg);
	margin: 0px;
	padding: 0px;
}
#wrapper {
	width: 986px;
	margin-right: auto;
	margin-left: auto;
	z-index:2;
	position:relative;
	clear:both;
	color:#FFF;
}
.clear {
	content:'.';
	visibility:hidden;
	clear:both;
}
.bg-fixed {
	background:url(images/bg-top.jpg);
	height:82px;
	width:100%;
	left:0px;
	position:absolute;
	z-index:0 !important;
	margin-top:40px;
}
.ui-slider-tabs {
	z-index:0 !important;
}
.bg {
	background:url(images/11.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	height:32px;
	padding-top:10px;
	margin-top:20px;
	width:100%;
}
.left-column-widgets-one {
	width:161px !important;
	padding-top:4px;
	margin-right:-10px;
	float:left !important;
}
.slider-widgets-inner {
	margin-left:3px !important;
}
.left-column-widgets-two {
	width:824px;
	position:relative;
	float:right !important;
}
.logo-widgets-box {
	width:161px;
	padding-top:4px;
	padding-bottom:8px;
	margin-bottom:5px;
	background:url(images/bg-logo.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
.logo-widgets-box .logo {
	width:150px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	border:1px solid #555555;
	background:#fff url(images/logo-bg-inn.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
.logo-widgets-box .logo img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.logo-widgets-box .phone-widgets {
	width:140px;
	height:39px;
	margin-top:7px;
	padding-top:10px;
	padding-left:10px;
	margin-left:auto;
	border:1px solid #555555;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:auto;
	clear:both;
	background:url(images/phone-bg.png);
	background-position:center top;
	background-repeat:no-repeat;
}
.logo-widgets-box .phone-widgets h1 {
	padding:0px;
	margin:0px;
	font-size:15px;
	color:#FFF;
	font-weight:bold;
}
.logo-widgets-box .phone-widgets h2 {
	padding:0px;
	margin:0px;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
}
.book-room-widgets {
	width:143px;
	padding-top:8px;
	padding-left:8px;
	padding-right:3px !important;
	padding-bottom:10px;
	margin-top:2px;
	/*	height:244px;*/

	background:#86074c url(images/book-room-bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	border:1px solid #2c0b2d;
}
.book-room-widgets h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding:0px 0px 5px 0px;
	margin:0px;
	background:url(images/book-splitter.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	color:#FFF;
}
.book-room-widgets .book-row {
	width:144px;
	clear:both;
	padding-top:10px;
	height:41px;
}
.book-room-widgets .book-column {
	height:51px;
	clear:both;
}
.book-room-widgets .book-column-one {
	width:94px;
	float:left;
	height:51px;
}
.book-room-widgets .book-column-two {
	width:44px;
	padding-left:6px;
	float:left;
	height:51px;
}
.txt-calender {
	width:89px;
	height:21px;
	padding:0px 0px 0px 2px;
	border:1px solid #292929;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:11px;
	background:url(images/bg-txt.jpg);
	background-position:center top;
	background-repeat:repeat-x;
}
.txt-night11 {
	border:1px solid #292929;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080 !important;
	height:20px;
	font-size:11px;
	background:url(images/bg-txt.jpg);
	background-position:center top;
	background-repeat:repeat-x;
}
.book-room-widgets .book-column1 {
	height:51px;
}
.book-column1 span {
	color:#FFF;
	padding-bottom:3px;
	display:inline-block;
}
.txt-night {
	width:40px;
	height:20px;
	border:1px solid #292929;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:11px;
	z-index:1;
	background:url(images/bg-txt.jpg);
	background-position:center top;
	background-repeat:repeat-x;
}
.txt-rooms {
	width:140px;
	height:23px;
	padding:2px;
	border:1px solid #292929;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:11px;
	background:url(images/bg-txt.jpg);
	background-position:center top;
	background-repeat:repeat-x;
}
.txt-code {
	width:135px;
	height:17px;
	padding:2px;
	border:1px solid #292929;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:11px;
	background:url(images/bg-txt.jpg);
	background-position:center top;
	background-repeat:repeat-x;
}
.book-column-one span, .book-column-two span, .book-column span {
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	display:block;
}
.check-availability {
	width:141px;
	height:29px;
	border:none;
	cursor:pointer;
	padding:0px;
	margin:0px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	background:url(images/btn1.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.check-availability:focus, .check-availability:hover, .check-availability:active {
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-shadow:0px 0px #dbdbdc;
	background:url(images/btn1-hover.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.book-row2 {
	padding-top:20px;
}
.book-row {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	z-index:1;
	color:#ff9dfc;
}
.sign-up {
	width:67px;
	height:29px;
	border:none;
	padding:0px;
	margin:0px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	background:url(images/btn2.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.sign-up:focus, .sign-up:hover, .sign-up:active {
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-shadow:0px 0px #dbdbdc;
	background:url(images/btn2-hover.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.group-options {
	height:40px;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
}
.group-options-one {
	width:495px;
	overflow:hidden;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
	padding-top:11px;
	float:left;
	height:29px;
}
.group-options-two .go {
	position:relative;
	float:right;
	margin-right:6px;
	margin-top:-21px;
}
.group-options-two {
	width:144px;
	float:left;
	height:35px;
	padding-top:2px;
	padding-left:10px;
}
.group-options-three {
	width:146px !important;
	float:right !important;
	position:relative !important;
	height:35px !important;
	padding-left:10px !important;
	padding-top:5px !important;
}
.group-options-three img {
	display:inline-block;
	position:relative;
	margin-right:4px !important;
}
img {
	border:none;
}
.navigator {
	width:825px;
	height:82px;
}
.navigator-left-column-group {
	width:170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#cacaca;
	text-shadow:1px 1px 1px #000;
	font-weight:bold;
	padding-top:24px;
	padding-left:26px;
	height:58px;
	float:left;
}
.navigator-right-column-group {
	width:624px;
	overflow:hidden;
	position:relative;
	height:82px;
	float:left;
}
.navigator-right-column-group ul.nav span.santacornerhat {
	position:absolute;
	top:25px;
	margin-left:-14px;
}
.navigator-right-column-group ul.nav li a.icon {
	padding-left:22px;
}
.navigator-right-column-group ul.nav span.santacornerhat img {
	vertical-align:middle;
}
.navigator-right-column-group ul.nav {
	padding:0px;
	margin:0px;
	list-style:none;
	float:left;
	font-family: 'CalibriBold';
	font-size:18px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
.navigator-right-column-group ul.nav li {
	float:left;
}
.navigator-right-column-group ul.nav li a {
	display:inline-block;
	height:50px;
	float:left;
	position:relative;
	padding-top:32px;
	padding-left:10px;
	padding-right:10px;
	color:#FFF;
	text-decoration:none;
}
.navigator-right-column-group ul.nav li a:hover {
	display:block;
	color:#FFF;
	background:url(images/bb1.png);
	background-position:center top;
	background-repeat:repeat-x;
	text-decoration:none;
}
.navigator-right-column-group ul.nav li a:focus, .navigator-right-column-group ul.nav li a.current {
	display:block;
	color:#FFF;
	background:url(images/bb2.png);
	background-position:center top;
	background-repeat:repeat-x;
	text-decoration:none;
}
.navigator-right-column-group ul.nav li.splitter {
	width:2px;
	height:82px;
	background:url(images/nav-splitter.png);
	background-position:center top;
	background-repeat:no-repeat;
}
.slider-widgets {
	width:825px;
	position:relative;
	clear:both;
	overflow:hidden;
	height:485px;
	background:url(images/shade.jpg);
	background-position:center 385px;
	background-repeat:no-repeat;
}
.auto-detect {
	width:986px;
	margin-left:auto;
	margin-right:auto;
}
a.btn-one {
	display:block;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
}
a:hover.btn-one {
	color:#ccc;
	text-transform:uppercase;
	text-decoration:none;
}
a.btn-one span {
	width:29px;
	height:31px;
	position:relative;
	margin-bottom:0px;
	background:url(images/arrow.png);
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin-right:12px;
}
a:hover.btn-one span {
	background:url(images/arrow2.png);
	background-position:center top;
	background-repeat:no-repeat;
}
.gallery {
	height:257px;
	width:100%;
	margin-top:50px;
}
#footer {
	width:100%;
	position:relative;
	clear:both;
	height:353px;
	background:url(images/footer.png);
	background-repeat:repeat-x;
	background-position:center top;
}
.footer-three {
	height:54px;
	padding-top:20px;
	clear:both;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	line-height:17px;
}
.footer-two {
	height:245px;
	padding-top:33px;
}
.bb1 {
	width:368px;
	height:211px;
	float:left;/*	background:url(images/box/1.png);

	background-position:center top;

	background-repeat:no-repeat;*/
}
.bb2 {
	width:321px;
	height:211px;
	margin-left:20px;
	float:left;
	background:url(images/box/2.png);
	background-position:center top;
	background-repeat:no-repeat;
}
.bb1-one {
	height:35px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;
	font-weight:bold;
	padding-left:10px;
	color:#FFF;
	font-size:15px;
	width:311px;
}
.bb1-two {
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:7px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	padding-right:10px;
	font-weight:bold;
	background:url(images/box/shot.png);
	background-position:center top;
	background-repeat:no-repeat;
	padding-left:10px;
	color:#FFF;
	font-size:12px;
	width:284px;
}
.bb1 img {
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;
}
.bb3 h4 span {
	display:block;
	color:#ffd4fa;
}
.bb3 h4 {
	color:#FFF;
	padding:0px 0px 5px 0px;
	background:url(images/box/splitter.png);
	background-position:center bottom;
	background-repeat:repeat-x;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.bb3 {
	margin-left:20px;
	float:left;
}
ul.list-items {
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:252px;
	list-style:none inside !important;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#882a7d;
	font-size:12px;
}
ul.list-items li {
	line-height:14px !important;
	list-style:none inside !important;
	white-space:nowrap;
}
ul.list-items li img {
	vertical-align:middle;
	margin-right:4px;
	list-style:none inside !important;
	display:inline-block;
}
ul.list-items li a {
	color:#fff;
	display:inline-block;
	text-decoration:none;
}
ul.list-items li.splitter {
	color:#882a7d;
	margin-top:2px !important;
	position:relative !important;
	list-style:none inside !important;
	background:url(images/box/splitter.png) !important;
	background-position:center top;
	background-repeat:no-repeat;
	height:2px;
	text-decoration:none;
}
ul.list-items li a:hover {
	color:#882a7d;
	text-decoration:none;
}
.gallery h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	position:relative;
	padding:0px 0px 0px 0px;
	margin:0px;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
}
.facebookOuter {
	background: url("images/bg12.png") no-repeat scroll center top transparent;
	border: medium none !important;
	height: 211px;
	padding: 10px 0 10px 10px;
	width: 368px;
}
.facebookInner {
	height:175px;
	overflow:hidden;
}
.ui-slider-tabs-indicator-container {
	display:none !important;
}
.main_container {
	height:100px !important;
}
.ui-slider-tabs {
}
.ui-slider-tabs-list-wrapper {
	position: relative;
	font-family:"Times New Roman", Times, serif;
	z-index:50;
}
h3 {
	color:#FFF;
}
.ui-slider-tabs-list-wrapper.bottom {
	margin: -1px 0 0 0;
}
.ui-slider-tabs-list-container {
	overflow: hidden;
}
.ui-slider-tabs-list {
	padding:0;
	margin:0px;
	left:inherit;
	width:839px !important;
	position:absolute;
	margin:374px 0 0 0;
	list-style: none;
}
.ui-slider-tabs-list li {
	margin-top:11px !important;
	width:120px !important;
	white-space:nowrap;
	float:left !important;
	font-family:"Times New Roman", Times, serif !important;
	letter-spacing:3px !important;
	font-size:12px !important;
	margin-right:20px !important;
}
.ui-slider-tabs-list li a {
	display:block;
	text-transform:uppercase;
	padding:4px 15px;
	text-decoration: none;
	color:#fff;
}
.ui-slider-tabs-list li a:hover {
	color:#fff;
}
.ui-slider-tabs-list li.selected {
	background:url(images/bb1.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-tabs-list li.selected {
}
.ui-slider-tabs-list li.selected a {
	cursor:default;
	color:#fff;
}
.ui-slider-tabs-list li:first-of-type {
}
.ui-slider-tabs-content-container {
	position: relative;
	z-index:1;
	width:823px;
	overflow: hidden;
}
.ui-slider-tab-content {
	position:absolute;
	display: none;
	top:0;
	left:0;
}
.ui-slider-left-arrow, .ui-slider-right-arrow, .ui-slider-left-arrow.edge:hover, .ui-slider-right-arrow.edge:hover {
	display:none !important;
	position:absolute;
	background:#fcfcfc;
}
.ui-slider-left-arrow:hover, .ui-slider-right-arrow:hover {
	background:#ffffff;
	display:none;
}
.ui-slider-left-arrow {
	left:0;
	display:none;
	top:0;
}
.ui-slider-left-arrow div {
	background-image: url('images/leftArrow.png');
	background-repeat: no-repeat;
	background-position:center center;
	height: inherit;
	display:none;
}
.ui-slider-left-arrow.edge div {
	opacity: .25;
	display:none;
}
.ui-slider-left-arrow.edge {
	box-shadow: none;
	display:none;
	cursor:default;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-left-arrow {
	display:none;
}
.ui-slider-right-arrow {
	top:0;
	right:0;
	display:none;
}
.ui-slider-right-arrow div {
	background-image: url('images/rightArrow.png');
	background-repeat: no-repeat;
	background-position:center center;
	display:none;
	height: inherit;
}
.ui-slider-right-arrow.edge div {
	opacity: .25;
	display:none;
}
.ui-slider-right-arrow.edge {
	box-shadow: none;
	cursor:default;
	display:none;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-right-arrow {
	border-top-right-radius:0;
	border-bottom-right-radius:4px;
	display:none;
}
.ui-slider-tabs-indicator-container {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
}
.ui-slider-tabs-indicator {
	width:10px;
	height:10px;
	background-image: url('images/indicator.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin-right:3px;
	cursor: pointer;
}
.ui-slider-tabs-indicator.selected {
	background-image: url('images/indicatorActive.png');
}
.ui-slider-tabs-leftPanelArrow {
	position:absolute;
	left:0px;
	width:30px;
	height:35px;
	background-image: url('images/leftPanelArrow.png');
	background-repeat: no-repeat;
	background-position:center center;
	cursor: pointer;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=5);
}
.ui-slider-tabs-rightPanelArrow {
	position:absolute;
	right:0px;
	width:30px;
	height:35px;
	background-image: url('images/rightPanelArrow.png');
	background-repeat: no-repeat;
	background-position:center center;
	cursor: pointer;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=5);
}
.ui-slider-tabs-rightPanelArrow.showOnHover, .ui-slider-tabs-leftPanelArrow.showOnHover {
	opacity:0;
	display: none;
}
.ui-slider-tabs-content-container:hover .ui-slider-tabs-rightPanelArrow.showOnHover, .ui-slider-tabs-content-container:hover .ui-slider-tabs-leftPanelArrow.showOnHover {
	opacity: .5;
	display: inline-block;
}
.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow:hover, .ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow:hover, .ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow.showOnHover:hover, .ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow.showOnHover:hover {
	opacity:1;
}
.rounded-group {
	width:826px;
	position:relative;
}
.rounded-group-one {
	height:12px;
	background:url(images/box2/cc1/1.png);
	background-position:center top;
	background-repeat:no-repeat;
	width:826px;
}
.rounded-group-two {
	background:url(images/box2/cc1/2.png);
	background-position:center top;
	position:relative;
	background-repeat:repeat-y;
	padding-bottom:20px;
	width:826px;
	z-index:6;
}
.rounded-group-two p {
	margin:0px 10px 0px 10px !important;
	padding:10px 0px 0px 0px !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#000;
}
.rounded-group-two ul {
	padding:0px 0px 0px 35px !important;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.rounded-group-two ul li {
	list-style:none outside !important;
	line-height:27px;
}
.rounded-group-two p.width {
	margin:30px 20px 0px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	text-align:justify;
	width:522px;
	float:left;
	color:#000;
}
.rounded-group-two p.thumb {
	margin:0px;
	position:absolute !important;
	top:30px;
	width:255px;
	padding-top:10px;
	float:right !important;
	color:#000;
}
.rounded-group-three {
	height:58px;
	margin-top:-12px;
	background:url(images/box2/cc1/3.png);
	background-position:center top;
	background-repeat:no-repeat;
	width:826px;
}
ul li {
	list-style:none !important;
}
.table3 {
	padding:12px;
	width:818px !important;
	display:block;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.table {
	padding:12px;
	width:818px !important;
	display:block;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}
.rounded-group-two-1 {
	background:url(images/box2/cc1/2.png);
	background-position:center top;
	background-repeat:repeat-y;
	padding-bottom:20px;
	width:826px;
	z-index:6;
}
.rounded-group-two-1 a {
	color:#000000;
}
.rounded-group-two-1 a:hover {
	color:#000000;
	text-decoration:none;
}
.rounded-group-two-1 p {
	margin:0px 10px 0px 10px !important;
	padding:10px 0px 0px 0px !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#000;
}
.rounded-group-two-1 ul {
	padding:0px 0px 0px 35px !important;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.rounded-group-two-1 ul li {
	list-style:none !important;
	line-height:27px;
}
.rounded-group-two-1 p.width {
	margin:30px 20px 0px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	text-align:justify;
	width:522px;
	float:left;
	color:#000;
}
.rounded-group-two-1 p.thumb {
	margin:0px;
	position:relative;
	width:255px;
	padding-top:10px;
	float:right !important;
	color:#000;
}
.rounded-group-two-1 ul.lister_xxx {
	padding:0px 0px 0px 35px !important;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.rounded-group-two-1 ul.lister_xxx li {
	list-style:url(images/box2/cc1/bulits.png) outside;
	line-height:27px;
}
.rounded-group-two-1 h6 {
	padding:4px 0px 0px 10px;
	margin:0px;
	background:url(images/box2/cc1/bb1.png);
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	background-position:5px bottom;
	margin-top:-10px;
	background-repeat:no-repeat;
	height:30px;
}
#flake {
	background:url(images/snow-flake.gif) !important;
	background-position:center top;
	background-repeat:no-repeat;
	z-index:1200 !important;
	position:absolute !important;
	border:none !important;
	background-color:transparent !important;
}
#flake div { border:none !important;}
