.topnav {
	width:540px;
	float:right;
	margin-top:10px;
	
		
}
.topnav ul {
	padding:0px;
	margin:0px;
	height:30px;
	font-family: 'Calibri';
	font-size:13px;
	color:#FFF;
	list-style:none inside;
}
.topnav ul li {

	display:inline-block;
}
.topnav ul li a {

	height:30px;
	padding-left:12px;
	padding-right:13px;
	text-decoration:none;
	margin-top:-20px;
	color:#a0a0a0;

	

}
.topnav ul li a:hover, .topnav ul li a:active,.topnav ul li a.current2 {
	background-color:#FFF;
	color:#3174ba;
}

.topnav ul li.splitter {
	width:1px;
	height:20px;
	background:url(images/spliter.jpg) center top no-repeat;
		vertical-align:middle;
}
.slected{
color:#3174ba !important;
}