body{
margin:0;
padding:0;
background:url(images/bodybg.png);
width:100%;
height:auto;
}
.main{
width:100%;
height:auto;
margin:auto;
}
.main2{
width:1263px;
height:1200px;
margin:auto;
}
.main3{
width:1263px;
height:auto;
margin:auto;
}
.clear {
	clear:both;
	content:'.';
	visibility:hidden;
}
#header{
	width:1263px;
	height:120px;
	background:url(images/headerbg.jpg);
	margin:auto;
}
#header-content{
width:1141px;
height:120px;
margin:auto;
}
#logo{
width:337px;
height:78px;
margin-top:5px;
float:left;
}
#top-links{
width:450px;
height:auto;
float:right;
margin-right:0px;
margin-top:15px;

}
.top-social-links{
width:auto;
height:20px;
float:left;
}
.top-social-links img{
float:left;
margin-top:4px;
padding:0;
}
.top-social-links p{
color:#456080;
font-family:Myriad Pro;
font-size:17px;
font-weight:Regular;
float:left;
margin-left:10px;
}
.mgr{
margin-left:20px;
}
.top-social-links a{
float:left;
margin-top: -10px ;
padding:0;
}
.top-social-links2{
width:100px;
height:31px;
float:right;
margin-left:0px;
}
.top-social-links2 img{
float:right;
margin-top:4px;
padding:0;
}
.top-social-links2 a{
float:right;
margin-top: -10px ;
padding:0;
margin-left:60px;
}
.menu-list{
}
.menu_item {
	width:841px;
	height:65px;
	float:right;
	background:url(images/menubg.jpg);
	margin-top:-27px;
}
.menu_item ul {
	padding-top:0px;
	margin-left:40px;
	width:100%;
}
.menu_item ul  li {
	display:inline-block;
	border-left:1px dashed #e1e1e2;
	font-family:Myriad Pro;
	font-size:12px;
	
	color:#FFF;
	list-style:none inside;
	padding: 20 15 20 15;
}
.menu_item ul li a {
	font-size:12px;
	text-decoration:none;
	color:#151515;
  
}
.menu_item span {
	padding-left:0px;
	font-size:11px;
    margin-left:px;	
	color:#1295d1;
	margin-top:5px;
}
.menu_item li:hover {
background:url(images/menu-hover.png);

}

.main-warp{
width:1141px;
height:auto;
margin:auto;


}
.slider{
width:1138px;
height:503px;
background:url(images/sliderbg.png) no-repeat;
position:relative;
margin:auto;
margin-top:14px;
z-index:-2;
}
.slider-text{
width:1138px;
height:503px;
margin:auto;
margin-top:-503px;
border:1px solid #f4f4f3;
}
.slider-text h1{
font-family:Myriad Pro;
font-size:50px;
font-weight:Regular;
color:#fff;
margin-top:100px;
text-align:center;
text-shadow:0px 0px 1px 0px #000;
}
.slider-text p{
font-family:Myriad Pro;
font-size:20px;
font-weight:Regular;
color:#fff;
margin-top:20px;
text-align:center;
}
.slider-text a{
margin-top:30px;
}
.anchor-mrg{
margin-left:320px;
}
.anchor-mrg2{
margin-left:20px;
}
.pointer{
width:1141px;
height:62px;
margin:auto;
}
.pointr-div{
width:34px;
height:20px;
margin:auto;
margin-top:21px;
margin-bottom:21px;
}
.video-content{
width:1135px;
height:383px;
margin:auto;
background:url(images/videobg.png) no-repeat;
border:1px solid #ebebeb;
}
.product-content{
width:1135px;
height:1000px;
margin:auto;
margin-top:30px;
background:url(images/videobg.png) no-repeat;

}
.box1{
width:340px;
height:410px;
float:left;
margin-left:22px;
margin-top:30px;
border:4px solid #f3f3f3;
box-shadow:1px 1px 1px 1px #b4b4b4;
}
.box1 h1{
font-family:Myriad Pro;
font-size:20px;
font-weight:Regular;
color:#144d80;
margin-top:10px;
text-align:center;
margin-bottom:10px;
}
.box1 img{
width:320px;
height:150px;
margin-left:10px;
}
.box1 p{
font-family:Myriad Pro;
font-size:12px;
font-weight:Regular;
color:#144d80;
margin-top:10px;
text-align:left;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
line-height:20px;
}
.box1 a{
font-family:Myriad Pro;
font-size:14px;
font-weight:Regular;
color:#000;
margin-top:10px;
text-decoration:none;
margin-left:100px;
margin-right:10px;
margin-bottom:10px;
line-height:20px;
}
.video-area{
width:510px;
height:288px;
float:left;
background:url(images/video1.png) no-repeat;
margin:50px 0px 20px 30px;
}
.video-content-txt{
width:510px;
height:288px;
float:left;
margin:50px 0px 30px 50px;

}
.video-content-txt h1{
font-family:Myriad Pro;
font-size:19px;
font-weight:Regular;
color:#5b666e;
text-align:left;
}
.video-content-txt h2{
font-family:Myriad Pro;
font-size:31px;
font-weight:Regular;
color:#1295d1;
margin-top:50px;
}
.video-content-txt p{
font-family:Myriad Pro;
font-size:16px;
font-weight:Regular;
color:#5b666e;
line-height:22px;
margin-top:10px;
}
.link-btn2{
width:127px;
height:35px;
float:left;
margin-top:30px;
}
.content-text{
width:1135px;
height:675px;
margin:auto;

margin-top:20px;
}
.left-content{
width:760px;
/*height:664px;*/
float:left;
}
.right-content{
width:359px;
height:664px;
float:left;
margin-left:16px;
background:url(images/asidebg.png);
}
.form-area{
width:359px;
height:480px;
float:left;

margin-top:140px;
}
.left-box{
width:760px;
/*height:332px;*/
float:left;
}
.left-box h1 {
font-family:Myriad Pro;
font-size:24px;
font-weight:Regular;
color:#1295d1;
line-height:22px;
}
 .top h1{
font-family:Myriad Pro;
font-size:24px;
font-weight:Regular;
color:#144d80;
line-height:28px;
}
.left-box span {
font-family:Myriad Pro;
font-size:24px;
font-weight:Regular;
color:#bdd448;
line-height:22px;
}
.left-box h2 {
font-family:Myriad Pro;
font-size:19px;
font-weight:Regular;
color:#5b666e;
line-height:22px;
}
.left-box p {
font-family:Myriad Pro;
font-size:16px;
font-weight:Regular;
color:#5b666e;
line-height:22px;
margin-top:20px;
}
.social-pages{
width:1135px;
height:81px;
float:left;
border:1px solid #e9e9e9;
background:#fff;
margin-top:30px;
border-radius:5px;
}
.social-inner{
width:150px;
height:auto;
float:left;
}
.social-inner2{
width:200px;
height:auto;
float:right;
margin-right:20px;
margin-top:20px;
}
.social-inner img{

margin-top:20px;
margin-left:30px;
padding:0;
}
.social-inner a{
color:#456080;
font-family:Myriad Pro;
font-size:17px;
font-weight:Regular;
float:right;
margin-top:-20px;
margin-left:60px;

}
.footer{
width:100%;
height:260px;
margin:auto;
background:url(images/footerbg.png);
margin-top:30px;
}
.footer-box{
width:1141px;
height:260px;
margin:auto;
}
.footer-list{
width:140px;
height:auto;
float:left;
margin-top:30px;
}
.footer-list ul{
padding:0;
margin:0px;
list-style-type:none;
}
.footer-list ul li{
display:block;
}
.footer-list ul li a{
font-family:Myriad Pro;
font-size:15px;
color:#fff;
line-height:32px;
text-decoration:none;
}
.footer-list-middle{
width:570px;
height:auto;
float:left;

margin-left:20px;
}
.copy{
width:570px;
height:auto;
float:left;
border-top:1px solid #6bd0fe;
}
.copy p{
margin-top:10px;
font-family:Myriad Pro;
color:#fff;
text-decoration:none;

font-size:14px;

} 
.copy span{
font-size:14px;
color:#fff;
} 
.copy a{
font-family:Myriad Pro;
color:#fff;
text-decoration:none;
float:right;
}
.middle-linkd{
width:570px;
height:auto;
float:left;
margin-top:30px;
}
.middle-linkd a{
display:inline;
font-family:Myriad Pro;
color:#fff;
text-decoration:none;

font-size:16px;
}
.linkmarg{
margin-left:60px;

}
.call-us{
width:160px;
height:120px;
float:right;
margin-top:-60px;

}
.call-us h1{
display:inline;
font-family:Myriad Pro;
color:#fff;
font-size:20px;
}
.call-us p{
display:inline;
font-family:Myriad Pro;
color:#fff;
font-size:20px;
margin-top:40px;
}
.footer-lap{
width:348px;
height:191px;
float:left;
background:url(images/footerlapbg.png);
margin-left:50px;
}
.footer-lap h1{
font-family:Myriad Pro;
font-size:18px;
font-weight:Regular;
color:#fff;
line-height:22px;
margin-top:10px;
margin-left:20px;

}
.footer-lap p{
font-family:Myriad Pro;
font-size:14px;
font-weight:Regular;
color:#fff;
line-height:22px;
margin-top:10px;
margin-left:20px;

}
.footer-lap a{
margin-left:50px !important;
}
.tr{
width:355px;
height:auto;
}
.td{
width:175px;
height:auto;
margin-left:10px;
}
.td2{
width:60px !important;
}
.td3{
width:100%;
height:auto;
margin-left:10px;
}
.label{
font-family:Myriad Pro;
font-size:12px;
color:#fff;
font-weight:Regular;
}
INPUT[type='text']{
    border:1px solid #d4d4d4;
	border-radius:3px;
	-webkit-appearance: none;
	width:155px;
	height:26px;
	margin-top:5px;
	background:url(images/inputbg.png)repeat-x;
}
.top{
width: 720px;
padding-left: 21px;
padding-right: 21px;
padding-top: 0px;
height: 32px;
background: url(images/TSTBG.png) no-repeat;
border-radius:4px;
float:left;

}
.testimonal-content{
width: 720px;
padding-left: 21px;
padding-right: 21px;
}
.frm {
width: 720px;
vertical-align: middle;
}
.frm .cloums1 {
width: 704px;
height: 80px;
overflow: hidden;
float: left;
margin-bottom: 5px;
margin-top: 5px;
line-height:22px;
font-family:Myriad Pro;
font-size:12px;
color:#000;
font-weight:Regular;
}
