.normal-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}
a.normal-text:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BE151A;
	text-decoration:underline;
	font-weight:bold;
}
a.normal-text:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BE151A;
	text-decoration: none;
}
a.normal-text:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FD8820;
	text-decoration: underline;
	font-weight:bold;
}
a.normal-text:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FD8820; /*color: #CA9C00;*/
	font-weight:bold;
	text-decoration: underline;
}

.fonthead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}


.bg {
	width: 900px;
	background-color: #F4F4F4;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C3C3C3;
	border-left-color: #C3C3C3;
}
body {
	margin-left: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	/*background-color: #E5E5E5;*/
}
.nav-bar-text {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-right: 6px;
	margin-left: 6px;
	width: 100%;
	height: 30px;
}
a.nav-bar-text:link {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
}
a.nav-bar-text:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
}
a.nav-bar-text:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFE897;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
}
a.nav-bar-text:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFE897;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
}
.sidebar {
	width: 170px;
	padding: 5px;
	border: 1px solid #FE9E47;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
}
.sidebar-blue {
	width: 170px;
	padding: 5px;
	border: 1px solid #5286B5;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.side-bar-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
}
a.sidebar-text {
	padding:0px;
	margin:0px;
	color:#585858;
	text-decoration:none;
	text-transform: capitalize;
	font-weight: bold;
}
a.sidebar-text:visited { 
	padding:0px;
	margin:0px;
	color:#585858;
	text-decoration:none;
}
a.sidebar-text:hover {
	color:#FD8820;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
}
a.sidebar-text:active {
	color:#CA9C00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
}
.footer-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}
a.footer-text:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
a.footer-text:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
a.footer-text:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #FFFFFF;
}
a.footer-text:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.login-field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	padding: 3px;
	background-color: #FFF8DF;
}
/*h1 {
	font-size: 22px;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}*/
h2 {
	font-size: 22px;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	text-transform: capitalize;
}
.sub-header {
	font-size: 22px;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 5px;
	text-transform: capitalize;
}
.main-content-bg {
	width: 500px;
	padding: 5px;
	border: 1px solid #5286B5;
	margin-bottom: 15px;
}
.main-content-bg-grey {
	width: 500px;
	padding: 5px;
	border: 1px solid #D1D1D1;
	margin-bottom: 15px;
}
.main-content-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
}
.form-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	border: 1px solid #999999;
	padding: 3px;
}
.sidebar-grey {
	width: 100%;
	padding: 5px;
	border: 1px solid #DADADA;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-bottom: 10px;
}
.bread-crumb-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
a.bread-crumb-text:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #578AB7;
	text-decoration: underline;
}
a.bread-crumb-text:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #578AB7;
	text-decoration: underline;
}
a.bread-crumb-text:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FD8820;
	text-decoration: underline;
}
a.bread-crumb-text:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CA9C00;
	text-decoration: underline;
}

.error_box
{
line-height:30px; font-family:Arial; font-size:12px;
background-color:#92C6F2; border:#4E8BC6 solid 1px; color:#fff;
text-align:center;

}

.error_msg
{



}
h1
{
font-size: 24px;
color: #5289bc;
font-weight: normal;
font-style: normal;
font-family: 'maiandra_gdregular';
text-transform: capitalize;
}