/* CSS Document */
/* start  paging style */
/*  paging  */
.pagination{
padding: 1px;
font-family:Arial;
font-size:12px;

}

.pagination ul{
margin: 0px;
padding: 1px;
text-align: center; /*Set to "right" to right align pagination interface*/
font-family:Arial;
font-size:12px;
font-weight:none;
}

.pagination li{

list-style-type: none;
display: inline;
padding: 2px;
padding-bottom: 1px;
font-weight:none;
font-family:Arial;
font-size:12px;
}

.pagination a, .pagination a:visited{
padding: 0.2em;
font-family:Arial;
font-size:12px;
border: 0px solid #BB1218;
font-weight:none;
text-decoration:none;
color: #BB1218;
}

.pagination a:hover, .pagination a:active{
border: 0px solid #BB1218;
color: #000;
text-decoration:none;
font-weight:none;
background-color:none;
font-family:Arial;
font-size:12px;
}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #BB1218;
font-weight: bold;
cursor: default;
font-family:Arial;
font-size:12px;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color:none;
cursor: default;
color: #000;
font-weight:bold;

}

.pagination a.prevnext{
font-weight: bold;

}

.currentpg{
color:#BFC1C4; 
font-weight:bold;
}

/*  end paging style */
