/* CSS Document */
/* start  paging style */
/*  paging  */
.pagination{
	margin-left:auto;
	font-family:Tahoma, Geneva, sans-serif;
	margin-right:auto;
	width:600px;

}

.pagination ul{
margin: 0px;
padding: 1px;
text-align: center; /*Set to "right" to right align pagination interface*/
font-size:11px;
font-weight:bold;
}

.pagination li{

list-style-type: none;
display: inline;
padding: 2px;
padding-bottom: 1px;
font-weight:none;
font-size:11px;



}

.pagination a, .pagination a:visited{
padding: 2px 5px 2px;
font-size:11px;
font-weight:none;
text-decoration:none;
color: #000000;
border: 1px solid #D0D0D0;
}

.pagination a:hover, .pagination a:active{

color: #FFFFFF;
text-decoration:none;
font-weight:none;
background-color:#9F0C0D;
font-size:11px;
border: 1px solid #D0D0D0;



}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #0580b6;
cursor: default;
font-size:12px;
font-weight:bold;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color:none;
cursor: default;
color: #000000;


}

.pagination a.prevnext{


}

.currentpg{
color:#BFC1C4;




}

/*  end paging style */
