
#contact-overlay {
    background-color: #000000;
}
#contact-container {
    font: 16px/22px 'MyriadProSemibold';
    text-align: left;
    width: 450px;
}
#contact-container .contact-content {
   	background:url(../images/bg1.png) center top;
    color: #DDDDDD;
    height: 40px;
	border:3px solid #1572BF;
	font-family: 'MyriadProSemibold';
}
#contact-container h1 {
    color: #D76300;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 6px 12px;
    text-align: left;
	font-family: 'MyriadProSemibold';
}
#contact-container .contact-loading {
    background: url("../img/contact/loading.gif") no-repeat scroll 0 0 transparent;
    height: 55px;
    margin: -14px 0 0 190px;
    padding: 0;
    position: absolute;
    width: 54px;
    z-index: 8000;
}
#contact-container .contact-message {
    text-align: center;
}
#contact-container .contact-error {
    border: 2px solid #CC0000;
	font-family: 'MyriadProSemibold';
    font-size: 13px;
	color:#FF0000;
    font-weight: bold;
    line-height: 18px;
    margin: 0 auto;
    padding: 2px;
    width: 92%;
	background: none repeat scroll 0 0 #000000;
}
#contact-container br {
    clear: both;
}
#contact-container form {
    margin: 0;
    padding: 0;
}
#contact-container label {
    font-family: 'MyriadProSemibold';
	clear: left;
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    width: 100px;
	color:FFFFFF;
}
#contact-container .contact-input {
    border: 1px solid #FFFFFF;
	font-family: 'MyriadProSemibold';
    float: left;
    margin: 2px;
    padding: 2px;
    width: 300px;
	border-radius:3px;
	font-weight:bold;
	background: none repeat scroll 0 0 #EEEEEE;
}
#contact-container textarea {
    font-family: 'MyriadProSemibold';
    height: 114px;
	border-radius:3px;

}
#contact-container .contact-cc {
    cursor: default;
    font-size: 14px;
    vertical-align: top;
}
#contact-container .contact-top {
    background-color: #1572BF;
    border-radius: 8px 8px 0 0;
    height: 13px;
    margin: 0;
    padding: 0;
}
#contact-container .contact-bottom {
    background-color: #1572BF;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    text-align: center;
}
#contact-container .contact-bottom a, #contact-container .contact-bottom a:link, #contact-container .contact-bottom a:active, #contact-container .contact-bottom a:visited {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    top: -4px;
}
#contact-container .contact-bottom a:hover {
    color: #888888;
}
#contact-container .contact-button {
    background: none repeat scroll 0 0 #D76300;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
	font-family: 'MyriadProSemibold';
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    margin: 4px 0 0 4px;
    text-align: center;
    vertical-align: middle;
}
#contact-container .contact-button:hover {
    background: none repeat scroll 0 0 #F49000;
}
#contact-container a.modal-close, #contact-container a.modal-close:link, #contact-container a.modal-close:active, #contact-container a.modal-close:visited {
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 8px;
    text-decoration: none;
    top: -4px;
}
#contact-container a.modal-close:hover {
    color:#FF4242;
}
