
/******* CONTAINER *******/
#container{
	width: 600px;
	margin: 40px auto;
	text-align: left;
}
/******* /CONTAINER *******/
/******* FORM *******/
#customForm{
	padding: 0 10px 10px;
}
#customForm label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#customForm input {
	
	background-color: #FFFFFF;
    border: 1px solid #cecece;
	/*color: #949494;*/
	color:#000;
    font-family: 'MyriadProRegular';	
    font-size: 12px;
	margin:0px 0px 5px 0px;
    width: 256px;
	height:25px;
	padding:0px 0px 0px 5px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
	-webkit-box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

 .tt22{

    background-color: #FFFFFF;
    font-family: 'MyriadProRegular';	
    font-size: 12px;
	margin:0px 0px 5px 0px;	
	width:127px; 
	border: 1px solid #e1e1e1;
	height:32px;
    margin:0px 0px 5px 0px;
	padding:5px 8px;


    -moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
	-webkit-box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);

}
#customForm input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customForm textarea{
	width: 256px;
	height: 80px;
	padding: 6px;
	color: #000;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	border: 1px solid #cecece;
}
#customForm textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customForm div{
	margin-bottom: 12px;
}
#customForm div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#customForm div span.error{
	color: #e46c6e;
}
#customForm #send{
	width:253px;
	height:50px;
	padding:6px;
	font-family:'MyriadProRegular';
	color:#FFF;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:block;
	background:#769C31;
	cursor: pointer;
}
#customForm #send:hover{
	color:#FFF;
	background:#f06d26;
}
#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}
/******* /FORM *******/



#customFormLogin{
	padding: 0 10px 10px;
}
#customFormLogin label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#customFormLogin input {
	
	background-color: #FFFFFF;
    border: 1px solid #cecece;
	/*color: #949494;*/
	color:#000;
    font-family: 'MyriadProRegular';	
    font-size: 12px;
	margin:0px 0px 5px 0px;
    width: 256px;
	height:25px;
	padding:0px 0px 0px 5px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
	-webkit-box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
#customFormLogin div{
	margin-bottom: 12px;
}
#customFormLogin div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#customFormLogin div span.error{
	color:#FF0000;
}
#customFormLogin #send2{
	width:78px;
	text-align:center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display:block;
	font-family: 'CalibriBold';
	font-weight:bold;
	color:#FFF;
	font-size:18px;
	text-decoration:none;
	background:url(../images/bgt.png);
	background-position:center top;
	background-repeat:repeat-x;
}
#customFormLogin #send2:hover{
	color:#333;
	background:url(images/bgt1.png);
	background-position:center top;
	background-repeat:repeat-x;
}
#customFormLogin input.error{
    background: #f8dbdb;
	border-color: #FF0000;

}


/*=============*/

#customFormRegist{
	padding: 0 10px 10px;
}
#customFormRegist label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#customFormRegist input {
	
	background-color: #FFFFFF;
    border: 1px solid #cecece;
	/*color: #949494;*/
	color:#000;
    font-family: 'MyriadProRegular';	
    font-size: 12px;
	margin:0px 0px 5px 0px;
    width: 235px;
	height:25px;
	padding:0px 0px 0px 5px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
	-webkit-box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  1px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
#customFormRegist div{
	margin-bottom: 12px;
}
#customFormRegist div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#customFormRegist div span.error{
/*	color: #e46c6e;*/
	color:#FF0000;
}
#customFormRegist #regs{
	width:150px;
	text-align:center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display:block;
	font-family: 'CalibriBold';
	font-weight:bold;
	color:#FFF;
	font-size:18px;
	text-decoration:none;
	background:url(../images/footerbg.png);
	/*background:url(../images/bgt.png);*/
	background-position:center top;
	background-repeat:repeat-x;
}
#customFormRegist #regs:hover{
	color:#333;
	background:url(../images/videobg.png);
	/*background:url(images/bgt1.png);*/
	background-position:center top;
	background-repeat:repeat-x;
	
}
#customFormRegist input.error{
    background: #f8dbdb;
	border-color: #FF0000;

}






#main-containor-inner .registration-2 {
	width:400px;
	margin-left:10px;
	float:left;
}

.p-remem-registration {
	width:400px;
}

.p-remem-registration .p-remem-registration-2 {
	width:350px;
}

.p-remem-registration .p-remem-registration-2 .rigst-form {
	width:350px;
	color:#000;
	vertical-align:middle;
	font-family: 'CalibriBold';
	padding:10px 0px 10px 0px;
	margin:0px auto;
	font-size:12px;
	border:1px solid #636363;
	border-radius:5px;
	background-color:#FFE3EF;
}

#main-containor-inner .registration-22b {
	width:550px;
	margin-left:30px;
	float:left;
}

.p-remem-registration2b {
	width:550px;
}

.p-remem-registration2b .p-remem-registration-22b {
	width:550px;
}

.p-remem-registration2b .p-remem-registration-22b .rigst-form22 {
	width:550px;
	color:#000;
	vertical-align:middle;
	font-family: 'CalibriBold';
	padding:10px 0px 10px 0px;
	margin:0px auto;
	font-size:12px;
	border:1px solid #636363;
	border-radius:5px;
	background-color:#FFE3EF;
}
.login-header23 {
	font-family: 'CalibriBold';
	font-size:22px;
	color:#FEFEFE;
	font-weight:bold;
	
	}
	
	
#main-containor-inner .thanku {
	width:800px;
	margin:20px;
	float:left;
}

.p-remem-thanku {
	width:800px;
}

.p-remem-thanku .p-remem-thanku-2 {
	width:800px;
}

.p-remem-thanku .p-remem-thanku-2 .thankuform {
	width:800px;
	color:#000;
	vertical-align:middle;
	font-family: 'CalibriBold';
	padding:10px 0px 10px 0px;
	margin:0px auto;
	font-size:12px;
	border:1px solid #636363;
	border-radius:5px;
}
	
.input-section1 {
	 width:530px;

}

.sec01 {
	float:left;
	margin:0 35px 0 0px;

}
.sec02 {
	

}

.moredisc{
	color:#ac0009;
	font-family: 'CalibriBold';
	font-size:12px;
	text-decoration:none; }
	

.email-exit {
font-family: 'CalibriBold';
font-size:14px;
color:#840000;
text-align:center;
padding:5px;
}
.red-font-two{
color:#FF0000;
}

.error_box {

display: block;
	width:85%;
	margin: 0px auto;
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
	background-position: 7px 7px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 7px 0;
	text-indent: 40px;
	font-size: 14px;
	font-family: 'CalibriBold';
}
