/*
* { margin: 0; padding: 0; outline: none; }
html { font-size: 62.5%; height: 101%; }

body { background: #fff; font-family: "Calibri", Arial, sans-serif; }
img { border: 0; }

a { color: #3a51b2; text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { font-size: 1.8em; line-height: 1.9em; margin-bottom: 15px;  }

p { color: #656565; font-size: 1.2em; margin-bottom: 10px; }

#wrapper { width: 640px; margin: 0 auto; padding: 30px 45px; }
*/


label { margin-right: 12px; margin-bottom: 9px; font-family:'caviar_dreamsbold'; color: #646464; font-size: 14px; }

.txt { 
display: inline-block; 
color: #676767;
width: 430px; 
font-family: 'caviar_dreamsbold'; 
margin-bottom: 10px; 
border: 1px solid #ccc; 
padding: 1px 9px;
font-size: 13px;
line-height: 1.4em;
}

.txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: 'caviar_dreamsbold'; 
margin-bottom: 10px; 
width: 430px; 
border: 1px solid #ccc;
padding: 1px 9px; 
font-size: 13px;
line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

.send2 { 
color: #dee5f0;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 14px;
border: solid 1px #224983;
border-radius: 5px;
background: #1e4c99; 
background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d)); 
background: -moz-linear-gradient(top, #2f52b7, #0e3a7d); 
background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
background: linear-gradient(top, #2f52b7, #0e3a7d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d'); 
}
.send2:hover {
background: #183d80; 
background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
background: -o-linear-gradient(top, #284f9d, #0c2b6b);
background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
.send2:active {
color: #8c9dc0; 
background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
background: -o-linear-gradient(top, #0e387d, #2f55b7);
background: -ms-linear-gradient(top, #0e387d, #2f55b7);
background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}



.mearsurment_txt { 
display: inline-block; 
color: #676767;
width: 250px; 
font-family: 'caviar_dreamsbold'; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 7px;
font-size: 14px;
line-height: 1.4em;
}
.mearsurment_txt placeholder {
	color:#999;
	}
.mearsurment_txtarea { 
display: block; 
resize: none;
color: #676767;
font-family:'caviar_dreamsbold'; 
margin-bottom: 10px; 
width: 500px; 
height: 150px;
border: 1px dotted #ccc;
padding: 1px 9px; 
font-size: 14px;
line-height: 1.4em;
}

.coment_txt { 
display: inline-block; 
color: #676767;
width: 430px; 
font-family: 'caviar_dreamsbold'; 
margin-bottom: 10px; 
border: 1px solid #ccc; 
padding: 1px 9px;
font-size: 13px;
line-height: 1.4em;
}

.coment_txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: 'caviar_dreamsbold'; 
margin-bottom: 10px; 
width: 430px; 
border: 1px solid #ccc;
padding: 1px 9px; 
font-size: 13px;
line-height: 1.4em;
}