@charset "utf-8";
@import URL('fonts/fonts.css');

.form-area{
width:900px;
height:2300px;
margin:auto;
background:#000;

border:1px solid #fff;

}
.instruction{
width:730px;
height:auto;
margin:auto;
clear:both;


}
.instruction p{
margin-top:20px;
color:#fff;
font-family: Arial,'MyriadProSemibold';
font-size:12px;
}
.measure-1{
width:880px;
height:auto;
float:left;
margin-left:20px;
margin-top:0px;
margin-right:20px;
}
.measure{
width:435px;
height:auto;
float:left;

}
.measure2{
width:530px;
height:auto;
float:left;
}
.measure2 p{
margin-top:20px;
color:#fff;
font-family: Arial,'MyriadProSemibold';
font-size:12px;
float:right;
text-align:justify;
margin-top:-370px;
margin-left:200px;
margin-right:100px;

}
.measure1{
width:435px;
height:auto;
float:left;

}

.mg{
width:430px;
height:auto;
float:left;

margin-bottom:30px;
}
.mg p{
float:left;
margin-left:180px;
margin-top:-140px;
color:#fff;
text-align:justify;
font-family:Arial, 'MyriadProSemibold';
font-size:12px;
}
.marg{
margin-top:30px;

}
.mg img{
border:2px solid #0e68ba;
margin-top:20px;
margin-left:20px;
float:left;
}
.frm1 {
color:#fff;
font-family: Arial,'MyriadProSemibold';
font-size:12px;
text-align:justify;
margin-top:40px;
margin-left:120px;
}
.frm02 {
color:#fff;
font-family: Arial,'MyriadProSemibold';
font-size:12px;
margin-top:0px;
line-height:20px;
margin-left:80px;
}
.frm02 img{
border:2px solid #0e68ba;
margin-bottom:10px;
}
.per{

color:#fff;
font-family: Arial,'MyriadProSemibold';
font-size:12px;
margin-top:30px;
line-height:25px;
margin-left:20px;

}
.mg p{
float:right;
color:#fff;
font-family:Arial;
font-size:12px;
padding:10px;


}
.nickanme{
width:430px;
height:auto;
float:left;

}